form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1em;
  max-width: 400px;
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}

form span.formError {
  background-color: rgb(255, 191, 161);
  border-radius: 5px;
  padding: 0.25em;
}

form h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

form .formChildren {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

label {
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

input,
select {
  border-radius: 5px;
  padding: 0.5em 1em;
}

form button {
  border-radius: 50px;
  padding: 0.25em 0.5em;
  border: none;
  background-color: var(--accent-color);
  color: white;
  font-size: large;
  cursor: pointer;
  width: 50%;
  align-self: center;
}

form button:hover {
  background-color: var(--secondary-color);
}

.form-buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.form-buttons button {
  max-width: 50%;
  width: auto;
  flex: 1;
}

.delete-button {
  background-color: darkred;
}

.form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* adds space below the logo */
}

.form-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.error-message {
  color: red;
  text-align: center; /* centers the text horizontally */
  margin: 10px 0; /* optional spacing above/below */
  font-weight: bold; /* optional emphasis */
}

.toggle-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.toggle {
  border: 1px solid #ccc;
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.2s,
    color 0.2s;
  font-size: smaller;
}

.toggle input {
  display: none;
}

.toggle.active {
  background-color: #0072ed;
  color: white;
  border-color: #0072ed;
}

.inline-label {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
