.loading {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: larger;
  gap:0.5em;
}
