.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
}
.hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.modal .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.modal .modal-content {
  position: relative;
  margin: auto;
  margin-top: 10%;
  max-width: 80%;
  background-color: var(--primary-color);
  border-radius: 15px;
  border: 2px solid var(--secondary-color);
  padding: 0.5em;
  z-index: 20;
  color: black;
}
.modal .modal-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .modal-cancel {
  position: sticky;
  left: 0;
  top: 0;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  font-weight: bold;
}
