.ping {
  position: absolute;
  right: 3px;
  top: 3px;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 40px;
}
.ping::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 60, 60);
  border: 1px solid red;
  border-radius: inherit;
  z-index: 0;
  animation: PingAnimation 1.5s infinite;
}
.ping::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: inherit;
  z-index: 1;
}

@keyframes PingAnimation {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
