.priceQtyGroupContainer {
  /* grid-row: 1/3; */
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  justify-self: flex-end;
  width: 100%;
  position: relative;
  height: fit-content;
}

.priceQtyGroup {
  display: grid;
  grid-template-columns: 1fr 1em auto;
  width: 100%;
  gap: 0.25em;
}

.priceQtyGroup .price {
  grid-column: 3/4;
}

.helpText {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: auto 1fr auto;
  color: gray;
}

.helpText > div {
  text-align: right;
  margin-left: 0.5em;
}

.disabledOverlay {
  background-color: rgb(172, 172, 172);
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 0.5em);
  height: calc(100% + 0.5em);
  z-index: 10;
  border-radius: 5px;
  transform: translate(-0.25em, -0.25em);
}
