.pastUserOrder {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.pastUserOrder h2 {
  text-align: center;
}

.pastUserOrder .groupSection {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color-light);
  border-radius: 8px;
  padding: 0.5em;
  gap: 0.25em;
}

.pastOrderHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color-light);
  padding: 0.25em;
  font-size: x-large;
  font-weight: bold;
  width:100%;
  box-sizing: border-box;
}

.groupBy {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color-light);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0 0.5em;
}

.groupBy span:nth-child(even) {
  text-align: right;
}

.orderContainer {
  background-color: rgba(255, 255, 255, 0.795);
  padding-bottom: 0.5em;
  border-radius: 8px;
  overflow: hidden;
}
