.dropdownSelector {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--accent-color);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}
