.adminListHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.adminListHeader .headerRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1em;
}

.adminListHeader input,
.adminListHeader select {
  border: none;
}

.headerRow button {
  grid-column: -2/-1;
}

@media screen and (max-width: 500px) {
  .adminListHeader .headerRow {
    grid-template-columns: unset;
  }

  .headerRow button {
    grid-column: 1 / span all;
    justify-self: end;
  }
}
