.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-left {
  font-size: 0.9rem;
}

.footer-right {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.cart-icon {
  margin-right: 0.25rem;
}
