:root {
  /* Add your custom color scheme */
  --primary-color: #FEFEFE;
  --secondary-color: #4E888F;
  --accent-color: #000000;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.edgeless {
  box-shadow: inset 0 0 10px 0px white;
}
