:root {
  /* Add your custom color scheme */
  --primary-color: #fefefe;
  --secondary-color: #4e888f;
  --secondary-color-light: #6ba7ae;
  --accent-color: #000000;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
}

.edgeless {
  box-shadow: inset 0 0 10px 0px white;
}

/* Global CSS */
.strike {
  text-decoration: line-through;
}

.divider,
.divider-thick,
.divider-light {
  border-bottom: 2px solid var(--secondary-color);
  opacity: 0.5;
  width: 90%;
  align-self: center;
}

.divider-thick {
  border-bottom: 3px solid var(--secondary-color);
  opacity: 1;
  width: 100%;
}

.divider-light {
  border-bottom: 2px solid var(--secondary-color-light);
  opacity: 0.75;
  filter: brightness(110%);
  width: 100%;
}

.bold {
  font-weight: bold;
}

.highlightButton {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.75em 1.25em;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

input,
label {
  min-width: 0;
}

.bold {
  font-weight: bold;
  font-size: large;
}
