.priceSheetPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.priceSheetPage h2 {
  color: white;
  text-align: center;
}

/* Discount Selectors */
.discountSelectorsDiv {
  display: flex;
  gap: 1rem; /* space between selectors */
  padding-bottom: 1rem;
}

.discountSelectorsDiv > * {
  flex: 1 1 0; /* grow to fill, shrink if needed */
  min-width: 0; /* ensures proper shrinking in flex container */
  color: white;
}

/* Options */
.optionsDiv {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.optionsDiv > * {
  flex: 1 1 0; /* grow to fill, shrink if needed */
  min-width: 0; /* ensures proper shrinking in flex container */
  color: white;
}

/* -- Search Element */
.searchElement {
  padding-bottom: 1rem;
}

.searchElement label {
  color: white;
  font-size: 2rem;
}

mark {
  background-color: var(--secondary-color);
  padding: 0 2px;
  border-radius: 2px;
}

.floatingSubmit {
  position: fixed;
  right: 2em;
  bottom: 3em;
  z-index: 10;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color-light);
  border-radius: 99px;
  border: none;
  filter: brightness(130%);
  width: 10em;
  gap: 0.25em;
  padding: 0.25em;
  font-size: small;
}
